html {
  box-sizing: border-box;
  height: 100%;
  margin: 0
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

a,
a:link {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
